@use './mixins' as *;
@use './variables' as *;

body {
    font-family: 'Larsseit', sans-serif;
}

@font-face {
    font-family: 'Larsseit';
    src: url("../../assets/fonts/LarsseitThin.otf") format("openType");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url("../../assets/fonts/LarsseitLight.otf") format("openType");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url("../../assets/fonts/LarsseitMedium.otf") format("openType");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url("../../assets/fonts/LarsseitBold.otf") format("openType");
    font-weight: 700;
    font-style: normal;
}