$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colour Palette
$purple: #373373;
//colour distribution for purple 75%
$green: #37A864;
//10%
$white: #FFFFFF;
//10%

//5% for anything else
$yellow: #F8AA17;
$violet: #9b44ad;
$blue: #3681db;
$red: #f1454f;
