@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

#footer-container {
    background-color: $grey2;
}

.sns-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.501);
    }
    &--round {
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: 0;
        border-radius: 50%;
        &:hover {
            background-color: rgba(255, 255, 255, 0.501);
        }
    }
    &__top-text {
        font-size: 0.5rem;
    }
    &__google-img {
        width: 1.6rem;
        margin-right: 0.3rem;
    }
    &__apple-img {
        width: 1.3rem;
        margin-right: 0.3rem;
    }
    &--google {
        text-align: left;
        margin-right: 2rem;
    }
    &__logo {
        width: 1.3rem;
    }
}

.footer {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    &__nav {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }
    &__column {
        line-height: 2rem;
    }
    &__subheader {
        color: $grey3;
        font-weight: 400;
        font-size: 0.8rem;
    }
    &__links {
        color: $grey5;
        font-size: 0.8rem;
        font-weight: 400;
    }


    &__buttons {
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
    }

    &__rights {
        color: $grey3;
        font-size: 0.6rem;
    }
}